Package: com.1205417239.dynamicislandcore
Name: DynamicIslandCore
Version: 0.1.0
Architecture: iphoneos-arm64
Description: System Aperture notification experiment for iOS 17.
Maintainer: 1205417239
Author: 1205417239
Section: Tweaks
Priority: optional
Depends: mobilesubstrate
