<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.1205417239.dynamiclslandnotify.preferences</string>
    <key>CFBundleName</key>
    <string>DynamiclslandNotifyPrefs</string>
    <key>CFBundleDisplayName</key>
    <string>DynamiclslandNotify</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
</dict>
</plist>
